<!DOCTYPE html>
<html>
<link rel="stylesheet" media="screen and (min-width: 800px)" href="./css/style1.css">
        <link rel="stylesheet" media="screen and (max-width: 800px)" href="./css/style2.css">
<link  type="css" rel="stylesheet" href="./css/styleV.css" crossorigin="anonymous">
		
<style>
  /* need some style here or delete the style tag */
</style>

  <body>
  <header>
	<h1 style="text-align:center">Music Streaming</h1>
	<p style="float:right; margin-right: 4%; ">
        
		<% if(user == undefined) {%><a href="./login.html">Login</a>
       <a href="./register.html">Register</a> <% } else { %>
            <% if(user.username != undefined) { %>
      Welcome to <%=user.username %>
     <a href="./logout">Logout</a> </p>
  <%- include("./partials/header") %>
      
  </header> 
  <div class="grid-container2">
    <div > 
	<video width="98%" height="300" src="./upload/life.mp4" type="video/mp4" controls autoplay>
  </video>
	<p>
	ff</br>
	fff</br>
	
    </div>
    <div class="grid-container">
    <div class="box">
     <div class="divL" >
       <img src="./upload/abing.jpg" ></img>

     </div>
     <div class="divR" >
       Name: My miserable life</br>
       Area: China</br>
       Author: Hua Junyan</br>
       Style: Countryside</br>
       Year: 1950</br>
     </div>
    </div> 

    <form action="/user" method="post">
      <h2>Login</h2>
      <div class="input-field">
          <input type="text" name="username" id="username" placeholder="Enter Username">
      </div>
      <div class="input-field">
          <input type="password" name="password" id="password" placeholder="Enter Password">
      </div>
      <input type="submit" value="LogIn">
    </form>

    </div>
  </div>
        <%- include("./partials/footer") %>
     
     
      
    <% } %><% } %>
  </body>
  <script>
       
    </script>
</html>