<header>
      <ul id="nav">
        <li style="margin-left:5%;"><a href="./">home</a></li>
     <li class="vertical-menu"><a href="#courses">web_projects</a>
           <ul id="webProjects">
                <li><a href="./game">internet game</a></li>
                <li><a href="./mongodb">mongoDB</a></li>
				<li><a href="./helper">class helper</a></li>
				
                         </ul>     </li>
						 
		

		 
		 <!---clicking the navgation bar to toggle the head color --->
        <li style="float:right; margin-right: 5%; "><a class="active" href="contact.html">Contact</a></li>
    </ul>     
 </header>       
