<header>
      <ul id="nav">
        <li style="margin-left:5%;"><a href="./">home</a></li>
     <li class="vertical-menu"><a href="#courses">input/display</a>
           <ul id="webProjects">
		        <li><a href="./input">input music</a></li>
                <li><a href="./musics">list all music</a></li>
                <li><a href="./china">China' music</a></li>
				
                         </ul>     </li>
						 
		

		<li><a href="./meeting.html">karaoka</a></li>
		<li style="float:right; margin-right: 5%; "><a class="active" href="contact.html">Contact</a></li>
    </ul>     
 </header>       
