<html>
    <head>

    </head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>
    <body>
        <h1>Enter fruit information here:</h1>
		<h2>(make sure the info of producer is already saved in farmers.)</h2>
        <form method="post" action="/fruit">
            product: <input type="text" name="fruit[product]"><br>
            price: <input type="text" name="fruit[price]"><br>
            amount: <input type="number" name="fruit[amount]"><br>
            date: <input type="date" name="fruit[date]"><br>
            <input type="submit" value="Submit">
        </form> 
		<h1>Enter farmer information here:</h1>
		<form method="post" action="/farmer">
            name: <input type="text" id="name"><br>
            product: <input type="text" id="product"><br>
            amount: <input type="number" id="amount"><br>
            cropDate: <input type="date" id="cropDate"><br>
            <input type="submit" id="farmerPost" value="Submit2">
        </form> 
		<script>
		$(document).ready(function () {
   $("#farmerPost").click(function () {
      $.post("/farmer",
         {
            name: document.getElementById("name").value,
            product: document.getElementById("product").value,
			amount:document.getElementById("amount").value,
			cropDate:document.getElementById("cropDate").value
         },
         function (data, status) {
            alert("farmer info saved!");
         });
   });
});</script>
    </body>
	
</html>