<html>
    <head>

    </head>
	
    <body>
        <h1>Enter music information here:</h1>
		<p>
		<form method="post" action="/music">
            name: <input type="text" name="music[name]"><br>
            author: <input type="text" name="music[author]"><br>
			style: <input type="text" name="music[style]"><br>
			ctArea: <input type="text" name="music[ctArea]"><br>
            year: <input type="number" name="music[year]"><br>            
			imageFile: <input type="text" name="music[imageFile]"><br>
            <input type="submit" value="Submit">
        </form> 
		 <form id="chatForm2" action="/upload" method="post" enctype="multipart/form-data">
	 
	 <input type="file" name="fileupload" />
    
      <button type="submit">Upload</button><br>
		
    </form>   
		
    </body>
	
</html>